head
  if headline
    title=headline + ' - ' + title 
  else if subtitle
    title=subtitle + ' - ' + title 
  else
    title=title
  link(rel="stylesheet" media="all" href=`/${fingerprint['index.css']}`)
  !=head
  meta(charset="utf-8")
  meta(name="robots" content="index,follow")
  meta(name="keywords" content=keywords)
  meta(name="description" content=description)
  meta(name="author" content="Frederik Dudzik - www.dudzik.co")
  meta(name="viewport" content="width=device-width, initial-scale=1")
