doctype html
html
  head
    if headline
      title=title + ' - ' + headline
    else
      title=title
    link(rel="stylesheet" href="/#{fingerprint['index.css']}")
    !=head
    meta(name="robots" content="index,follow")
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    meta(name="author" content="Frederik Dudzik - www.dudzik.co")
  body
    header
      h3
        a(href="/digress-into-development") digress into development
      h3
        address by 
          a(href="/" rel="author") Frederik Dudzik
      h3
        a(href="/atom.xml") rss

    #contents!=contents
