doctype html
html
  head
    if headline
      title=title + ' - ' + headline
    else
      title=title
    link(rel="stylesheet" href="/#{fingerprint['index.css']}")
    !=head
    meta(name="robots" content="index,follow")
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    meta(name="author" content="Frederik Dudzik - www.dudzik.co")
  body
    header
      h3
        a(href="/digress-into-development") digress into development
      h1
        a(href=pathContent)
          = headline
      address by  
        a(href="/" rel="author") Frederik Dudzik

    #contents!=contents

    footer
      h3
        a(href="/digress-into-development/archive") all posts
      h3
        a(href="/atom.xml") rss
